<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Cours Web</title>

		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/solarized.css">

		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<!--  Cours 1  -->
				<section data-background-image="img/introduction.gif" data-background-opacity="0.2">
					<h1 class="r-fit-text">Cours Web</h1>
					<p>
						<small>Created by
							<strong>Corentin LATAPPY</strong>
						</small>
					</p>
					<p>
						<small>Inspired by
							<strong>Cyril BESLAY</strong>
						</small>
					</p>
				</section>
				<section>
					<h2>Qui suis-je ?</h2>
					<ul class="r-fit-text">
						<li>Corentin Latappy</li>
						<li>Post-Doctorant au <a href="https://www.labri.fr" target="_blank">LaBRI</a></li>
						<li>Dev full-stack en JS & TS</li>
						<li><a href="mailto:corentin.latappy@labri.fr">corentin.latappy@labri.fr</a></li>
					</ul>
				</section>
				<section>
					<h2>Plan du cours</h2>
					<ul class="r-fit-text">
						<li>Cours 1 : Introduction et bases de JavaScript</li>
						<li>Cours 2 : Développement côté serveur avec Express</li>
						<li>Cours 3 : Développement côté client avec VueJS</li>
						<li>Cours 4 : Composants et Routeur</li>
						<li>Cours 5 : Socket.io</li>
					</ul>
				</section>
				<section>
					<h2>Plan des TPs</h2>
					<ul class="r-fit-text">
						<li>TP 1 : Site Web Météo dynamique</li>
						<li>TP 2 : PHE - Partie Serveur</li>
						<li>TP 3 : PHE - Partie Client</li>
						<li>TP 4 : PHE - Composants et Routes</li>
						<li>TP 5 : PHE - Communication et Refactoring</li>
					</ul>
				</section>
				<section>
					<h2>Accès aux Supports</h2>
					<a href="https://github.com/CorentinLat/Dev-Web-Enseirb-2A" target="_blank">https://github.com/CorentinLat/Dev-Web-Enseirb-2A</a>
				</section>
				<section>
					<section>
						<h2>Pourquoi JavaScript ?</h2>
					</section>
					<section>
						<p>Langage très utilisé et en forte progression</p>
						<img class="r-stretch" src="img/stackoverflow_survey.png" alt="SO survey"/>
						<a href="https://survey.stackoverflow.co/2023/#section-most-popular-technologies-programming-scripting-and-markup-languages" target="_blank">https://survey.stackoverflow.co/2023</a>
					</section>
					<section>
						<p>Langage Full Stack</p>
						<section class="r-hstack">
							<img src="img/javascript_full_stack.jpg" />
							<ul>
								<li>Frontend</li>
								<li>Serveur</li>
								<li>Mobile</li>
								<li>Jeu</li>
							</ul>
						</section>
					</section>
					<section>
						<h3>Internet sans Javascript</h3>
						<img src="img/facebook_without_javascript.png" />
						<img src="img/google_mail_without_javascript.png" />
						<img src="img/google_maps_without_javascript.png" />
					</section>
				</section>
				<section>
					<section>
						<h2>Écosystème</h2>
					</section>
					<section>
						<h2>Le language JavaScript</h2>
						<pre><code>
		// Set variables
		let myBankBalance = 0;
		let output = "";

		// Do the 'for' loop
		for (myBankBalance = 0; myBankBalance <= 3; myBankBalance++) {
			if  (myBankBalance === 1) {
				continue;
			}
			output += "My bank balance is now $" + myBankBalance + "<br>";
		}

		// Output results to the above HTML element
		document.getElementById("msg").innerHTML = output;
							</code></pre>
					</section>
					<section>
						<h2>EcmaScript</h2>
						<ul>
							<li><strong>Standard</strong> international qui définit JavaScript</li>
							<li>Apporte de nouvelles fonctionnalités</li>
							<li>Non compatible avec tous les navigateurs</li>
							<li>ES5, ES6, ES2017, ...</li>
						</ul>
					</section>
					<section>
						<h2>Frameworks</h2>
						<ul>
							<li>Bibliothèques qui permettent de faciliter le développement, donner un cadre et des outils</li>
							<li>Beaucoup de frameworks disponibles</li>
							<li>Environnement évoluant très vite</li>
							<li>3 acteurs majeurs : Angular, React, Vue.js</li>
						</ul>
					</section>
					<section>
						<img src="img/framework_commit_strip_1.png" />
					</section>
					<section>
						<img src="img/framework_commit_strip_2.png" />
					</section>
					<section>
						<h2>Backend</h2>
						<p>Aujourd'hui, JavaScript n'est pas seulement utilisé dans le web mais aussi
							pour des applications lourdes (Discord, WhatsApp Desktop, ...) et pour des serveurs.
						</p>
						<p>Même syntaxe, mais librairies et concepts différents.</p>
					</section>
					<section>
						<h2>Outils</h2>
						<ul>
							<li>Navigateur (Chrome, Firefox, ...)</li>
							<li>Editeur (WebStorm, VSCode, Atom, ...)</li>
							<li>Terminal</li>
							<li>Node Package Manager - NPM</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>Language JavaScript</h2>
					</section>
					<section>
						<h2>Où développer ?</h2>
						<ul>
							<li>Console Chrome</li>
							<li>Page web HTML</li>
							<li>Serveur NodeJS</li>
						</ul>
					</section>
					<section>
						<h3>Les normes d'écriture</h3>
						<img src="img/tabs_spaces.gif" alt="">
						<p>L'idée de base est que "les développeurs d'un même projet codent de la même manière".</p>
						<p>Pour ce cours et les TPs, ça n'a pas d'importance. Restez constants.</p>
					</section>
					<section>
						<h3>Language interprété</h3>
						<ul>
							<li>Pas de compilation.</li>
							<li>Chaque marque a son moteur (Microsoft, Google, Apple, Mozilla).</li>
							<li>Language visible dans le navigateur (exemple).</li>
							<li>Scripts exécutés chez le client.</li>
						</ul>
					</section>
					<section>
						<h3>Hello World !</h3>
						<pre class="javascript">
								<code>
		alert('Hello World !');
								</code>
							</pre>
					</section>
					<section>
						<h3>Variables</h3>
						<ul>
							<li>let</li>
							<li>const</li>
							<li>(var)</li>
							<li>camelCase</li>
						</ul>
						<pre class="javascript">
									<code>
		var messageToSend = 'Hello World !';
		let author = 'Cyril';
		const country = 'FR';
		author = 'Corentin';
		alert(messageToSend);
									</code>
							</pre>
					</section>
					<section>
						<h3>Typage dynamique</h3>
						<ul>
							<li>Une variable peut contenir <strong>tout type de donnée</strong>.</li>
							<li>Le type de donnée dans une variable peut changer au cours du temps.</li>
						</ul>
						<pre class="javascript">
								<code>
		let studentNumber = 150;
		console.log(studentNumber);
		studentNumber = '150';
		console.log(studentNumber);
								</code>
							</pre>
					</section>
					<section>
						<ul>
							<li>undefined : Variable non définie</li>
							<li>null : Valeur inconnue</li>
						</ul>
						<pre class="javascript">
									<code>
		let studentNumber;
		console.log(studentNumber); // undefined
		studentNumber = null;
		console.log(studentNumber); // null
									</code>
								</pre>
					</section>
					<section>
						<p><b>type of</b> pour connaître le type d'une variable</p>
						<pre class="javascript">
								<code>
		typeof undefined // "undefined"
		typeof 0 // "number"
		typeof true // "boolean"
		typeof "foo" // "string"
		typeof {'foo' : 'fact'} // "object"
		typeof null // "object"
		typeof alert // "function
								</code>
							</pre>
					</section>
					<section>
						<h3>Comparaisons</h3>
						<p>Attention au type</p>
						<pre class="javascript">
									<code>
		let studentNumber = 150;
		let studentNumberExpected = '150';
		studentNumber == studentNumberExpected // true
		studentNumber === studentNumberExpected // false
									</code>
								</pre>
					</section>
					<section>
						<h3>Conditions</h3>
						<p>if</p>
						<pre class="javascript">
									<code>
		const year = prompt('In which year was ECMAScript-2015 specification published?', '');

		if (year == 2015) {
			alert('You guessed it right!');
		} else {
			alert('How can you be so wrong?');
		}
									</code>
								</pre>
					</section>
					<section>
						<p>switch</p>
						<pre>
									<code>const a = 2 + 2;

		switch (a) {
			case 3:
				alert('Too small');
				break;
			case 4:
				alert('Exactly!');
				break;
			case 5:
				alert('Too large');
				break;
			default:
				alert("I don't know such values");
		}</code>
								</pre>
					</section>
					<section>
						<h3>Boucles</h3>
						<ul>
							<li>for</li>
							<li>while (do while)</li>
							<li>break</li>
							<li>continue</li>
						</ul>
					</section>
					<section>
								<pre class="javascript">
									<code>
		for (let i = 0; i < fruits.length; i++) {
			if (fruits[i] === 'Banana') {
				continue;
			}
			console.log(fruits[i]);
		}

		while (i < 10) {
			console.log('The number is ' + i);
			i++;
			if (i > 7) {
				break;
			}
		}
									</code>
								</pre>
					</section>
					<section>
						<h3>Fonctions</h3>
						<pre class="javascript">
									<code>
		function checkAge(age, legalAge = 18) {
			if (age >= legalAge) {
				return true;
			} else {
				return 'Got a permission from the parents ?';
			}
		}

		let response = checkAge(19);
		console.log(response); // true
		response = checkAge(19, 21);
		console.log(response); // false
									</code>
								</pre>
					</section>
					<section>
						<h3>Deux syntaxes</h3>
						<pre class="javascript">
									<code>
		// Function classique
		function checkAge(age, legalAge = 18) {
			return age >= legalAge;
		}

		// Function arrow
		const checkAge = (age, legalAge = 18) => (age >= legalAge);

		const cities = data.filter(city => (city.population > 500000));
									</code>
								</pre>
					</section>
					<section>
						<h3>Tableaux</h3>
						<ul>
							<li>Facile à manipuler</li>
							<li>Nombreuses fonctionnalités portées par l'objet (length, push, pop, shift)</li>
							<li>Parcours de 0 à length - 1</li>
						</ul>
					</section>
					<section>
								<pre class="javascript">
									<code>
		let fruits = ['Apple', 'Orange', 'Pear'];

		for (let i = 0; i < fruits.length; i++) {
			console.log(fruits[i]);
		}

		fruits.push('Citron');

		console.log(fruits); // ['Apple', 'Orange', 'Pear', 'Citron']
		console.log(fruits.length); // 4

		console.log(fruits.shift()); // 'Apple'
		console.log(fruits); // ['Orange', 'Pear', 'Citron']
									</code>
								</pre>
					</section>
					<section>
						<h3>Manipulation de Tableaux</h3>
						<p>forEach</p>
						<pre class="javascript">
									<code>
		const fruits = ['Apple', 'Orange', 'Pear'];

		fruits.forEach(fruit => console.log(fruit)); // Apple, Orange, Pear
									</code>
								</pre>
					</section>
					<section>
						<h3>Manipulation de Tableaux</h3>
						<p>map</p>
						<pre class="javascript">
									<code>
		const numbers = [0, 1, 2, 3];

		const squares = numbers.map(number => number * number);
		console.log(squares); // [0, 1, 4, 9]
									</code>
								</pre>
					</section>
					<section>
						<h3>Manipulation de Tableaux</h3>
						<p>filter</p>
						<pre class="javascript">
									<code>
		const numbers = [0, 1, 2, 3, 4, 5];

		const evens = numbers.filter(number => number % 2 === 0);
		console.log(evens); // [0, 2, 4]
									</code>
								</pre>
					</section>
					<section>
						<h3>Objets</h3>
						<p>Un objet est un type complexe capable de stocker plusieurs informations.</p>
						<p>L'objet a un ensemble de clés/valeurs appelé propriétés.</p>
						<p>L'accès à une propriété se fait via <code>objet.property</code> ou <code>objet['property']</code>.</p>
					</section>
					<section>
						Attention, les objets sont des références et non des valeurs.
						<pre class="javascript">
									<code>
		const student = { name: 'Clark', age: 23 };
		const admin = student; // copy the reference

		console.log(student.name); // 'Clark'
		admin.name = 'Superman';
		console.log(student.name); // 'Superman'
									</code>
								</pre>
					</section>
					<section>
						<h3>This</h3>
						<pre class="javascript">
									<code>
		const user = {
			name: 'John',
			age: 30,
			sayHello() {
				return 'Je suis ' + this.name + ' et j\'ai ' + this.age + ' ans.';
			}
		};
									</code>
								</pre>
					</section>
					<section>
						<h3>Échange Client-Serveur</h3>
						<img src="img/client-serveur.png" alt="">
					</section>
					<section>
						<h3>HyperText Transfert Protocol</h3>
						<p>HTTP est un <strong>protocole de communication</strong> client-serveur développé pour le web.</p>
						<p>GET, POST, PUT, DELETE sont des <strong>verbes</strong> HTTP</p>
					</section>
					<section>
						<h3>Comment appeler un serveur ?</h3>
						<p>2 méthodes : </p>
						<ul>
							<li>XMLHttpRequest</li>
							<li>fetch (ES6)</li>
						</ul>
					</section>
					<section>
						<h4>XMLHttpRequest</h4>
						<pre><code>
		const req = new XMLHttpRequest();
		req.open('GET', url);
		req.send();
							</code></pre>
					</section>
					<section>
						<h4>Fetch</h4>
						<pre class="javascript"><code>
		fetch(url)
			.then(() => {
				// Do something
			});
								</code></pre>
					</section>
					<section>
						<h3>JSON</h3>
						<p>Format d'échange de données structurées</p>
						<pre><code>
		{
			"book": {
				"title": "Moby Dick",
				"author": "Herman Melville",
				"reviews": [
					{"reviewer": "Mark234", "rating_stars": "4.5"},
					{"reviewer": "Frank12", "rating_stars": "3.5"},
					{"reviewer": "NotPatrick", "rating_stars": "4"}
				]
			}
		}
							</code></pre>
					</section>
					<section>
						<h3>Promise</h3>
						Une promesse représente une valeur qui peut être disponible maintenant, plus tard ou jamais.
						<img src="img/mind_blowing.gif" alt="">
					</section>
					<section>
							<pre><code>
		const promise = new Promise((resolve, reject) => {
			setTimeout(function() {
				resolve();
			}, 300);
		});

		promise.then(() => console.log('arrivé 2ème :('));

		console.log('arrivé 1er :)');
							</code></pre>
					</section>
					<section>
						<h3>Promise</h3>
						<p>Beaucoup de fonctions travaillent en asynchrone, donc avec un système de promesse.</p>
						<p>Exemples de fonctions I/O :</p>
						<ul>
							<li>fetch (HTTP)</li>
							<li>fs (filesystem)</li>
							<li>database querying</li>
						</ul>
					</section>
					<section>
						<h4>Chainer les promesses</h4>
						<pre><code>
		fetch('./file.json')
			.then(response => response.json())
			.then(data => console.log(data))
							</code></pre>
					</section>
					<section>
						<h3>Async / Await</h3>
						<p>Introduit depuis ES8</p>
						<p>Même résultat que les promesses mais plus lisible</p>
					</section>
					<section>
						<h3>Async / Await</h3>
						<pre><code>
		const response = await fetch('./file.json');
		const data = await response.json();
		console.log(data);
							</code></pre>
					</section>
					<section>
						<h3>Ressources externes</h3>
						<p><a href="https://javascript.info/" target="_blank">https://javascript.info/</a></p>
						<p><a href="https://www.learn-js.org/" target="_blank">https://www.learn-js.org/</a></p>
					</section>
				</section>
				<section>
					<section>
						<h2>ECMAScript</h2>
					</section>
					<section>
						<h3>EcmaScript 5, 6, 7, 8...</h3>
						<p>EcmaScript définit les standards et nouveautés de développement</p>
						<p>Problème : les navigateurs et moteurs JavaScript mettent du temps à s'adapter</p>
						<p>Une notion de compatibilité entre en jeu</p>
					</section>
					<section>
						<h3>ECMAScript Compatibilité</h3>
						<p>Tableau de compatibilité des différents navigateurs et moteurs</p>
						<a href="https://kangax.github.io/compat-table/es2016plus/" target="_blank">Tableau de Compatibilité</a>
					</section>
					<section>
						<h3>ES5</h3>
						<ul>
							<li>Fonctions Array forEach, map, filter</li>
							<li>JSON.parse() et JSON.stringify()</li>
							<li>getters et setters sur les objets</li>
						</ul>
						<aside class="notes">
							list.forEach((element) => console.log(element));
							list.map((x) => x +1).filter((x) => x > 3);
						</aside>
					</section>
					<section>
						<h3>ES2015 (ES6)</h3>
						<ul>
							<li>Paramètre par defaut</li>
							<li>String literals</li>
							<li>Arrow functions</li>
							<li>Promise</li>
							<li>Const and Let</li>
							<li>Classes and super</li>
						</ul>
						<aside class="notes">
							const myString = 'Hello' + newName;
							const myString = `Hello ${newName}`;
						</aside>
					</section>
					<section>
						<h3>ES2023 (ES14)</h3>
						<p>Pas encore stable, pas encore compatible</p>
						<p>Ne partez pas trop tôt</p>
						<img src="img/fail_start.gif" alt="">
					</section>
					<section>
						<h3>Babel & Webpack</h3>
						<p>Comment faire pour utiliser ES6/ES7 en s'assurant d'être <strong>compatible</strong> avec le plus grand nombre
							?</p>
						<p>La <strong>transpilation</strong> permet de tranformer du code "nouveau" en code "ancien".</p>
						<p>Dans notre cas, ECMAScript vers JavaScript.</p>
						<p>Il est donc possible d'écrire du code avec des fonctionnalités modernes tout en restant compatible avec tous
							les navigateurs.</p>
					</section>
					<section>
						<h3>Babel JS</h3>
						<p>Un outil de transpilation majoritairement utilisé</p>
						<img src="img/babel.gif" alt="">
					</section>
					<section>
						<h3>WebPack</h3>
						<p>Outil qui permet :</p>
						<ul>
							<li>d'executer des transformations sur des fichiers</li>
							<li>d'agréger des fichiers</li>
							<li>une grande configuration/personnalisation</li>
						</ul>
					</section>
					<section>
						<img src="img/webpack_schema.jpg" alt="">
					</section>
				</section>

				<!--  Cours 2  -->
				<section>
					<section>
						<h2>Node JS et ExpressJS</h2>
					</section>
					<section>
						<h3>NodeJS</h3>
						<p>Environnement d'éxécution de JavaScript côté serveur</p>
						<p>Basé sur le moteur <strong>V8</strong></p>
						<p>Version Long Time Supported : 20</p>
						<img src="img/node_js.png" alt="">
					</section>
					<section>
						<h3>Node Package Manager</h3>
						<p>Gestionnaire de paquets officiel de NodeJS</p>
						<p>Permet l'installation et la gestion de dépendances (librairies) pour un projet</p>
						<img src="img/npm.png" alt="">
					</section>
					<section>
						<h3>Node Package Manager</h3>
						<p>La configuration se fait via un fichier <strong>package.json</strong></p>
						<pre><code>
		{
			"name": "phe-backend",
			"version": "1.0.0",
			...
			"dependencies": {
				"express": "^4.17.1",
				"sqlite3": "^5.1.6"
			},
			"devDependencies": {
				"nodemon": "^3.0.1"
			}
		}
								</code></pre>
					</section>
					<section>
						<h3>Node Package Manager</h3>
						<p>
							Deux commande principales :
						<ul>
							<li><code>npm i (npm install)</code></li>
							<li><code>npm i paquet</code></li>
						</ul>
						</p>
					</section>
					<section>
						<h3>ExpressJS</h3>
						<p>Bibliothèque légère pour développer des applications NodeJS</p>
						<p>Gestion des routes pour une API HTTP</p>
					</section>
					<section>
						<h3>ExpressJS</h3>
						<pre><code>
		import express from 'express';

		const app = express();

		app.get('/', function(req, res) {
			res.send('Bienvenue');
		});

		app.listen(8080);
							</code></pre>
					</section>
					<section>
						<h3>ExpressJS</h3>
						<pre><code>
		app.get('/hello/:name', function(req, res) {
			const name = req.params.name;
			res.send('Bienvenue ' + name);
		});
							</code></pre>
					</section>
					<section>
						<h3>Notion de Module</h3>
						<p>Pour mieux structurer notre code, nous avons besoin de le séparer en plusieurs fichiers.</p>
						<p>Nous pouvons importer des modules internes ET externes</p>
					</section>
					<section>
							<pre><code>
		import http from 'http'; // import externe (coeur node)
		import express from 'express'; // import librairie externe (node_modules)
		import utils from './utils'; // import interne (dossier utils)
							</code></pre>
					</section>
					<section>
							<pre><code>
		export function dateFrancais() {
			return new Date().toLocaleDateString('fr-FR');
		}
							</code></pre>
					</section>
					<section>
							<pre><code>
		import dateModule from './dateModule';
		console.log(dateModule.dateFrancais());
							</code></pre>
					</section>
				</section>

				<!--  Cours 3  -->
				<section>
					<section>
						<h2>Frameworks JavaScript</h2>
					</section>
					<section>
						<h3>Pourquoi utiliser un Framework ?</h3>
						<ul>
							<li>Cadre de développement</li>
							<li>Développement plus rapide</li>
							<li>Structuration du code et réutilisation</li>
							<li>Faciliter la manipulation du DOM</li>
						</ul>
						<blockquote>
							N'utilisez pas un framework JavaScript pour développer une simple page.
						</blockquote>
					</section>
					<section>
						<h3>Single Page App</h3>
						<p>Principe : éviter le chargement d'une nouvelle page à chaque action afin de
							<strong>fluidifier</strong> l'expérience utilisateur</p>
						<p>Optimisation nombre d'appels HTTP</p>
					</section>
					<section>
						<h4>Single Page App</h4>
						<p>Poids des pages augmente mais :</p>
						<ul>
							<li>Possibilité de faire du rendu progressif</li>
							<li>Les débits Internet augmentent</li>
						</ul>
					</section>
					<section>
						<h3>Quel framework ?</h3>
						<img src="img/angular-react-vue.jpg" alt="">
					</section>
					<section>
						<h4>Quel framework ?</h4>
						<table>
							<tr>
								<th></th>
								<th>VueJS</th>
								<th>Angular</th>
								<th>ReactJS</th>
								<th>EmberJS</th>
							</tr>
							<tr>
								<td>Courbe d'apprentissage</td>
								<td>😃</td>
								<td>😐</td>
								<td>😐</td>
								<td>😐</td>
							</tr>
							<tr>
								<td>Efficacité</td>
								<td>😃</td>
								<td>😐</td>
								<td>😐</td>
								<td>😐</td>
							</tr>
							<tr>
								<td>Maintenance</td>
								<td>😐</td>
								<td>😟</td>
								<td>😟</td>
								<td>😃</td>
							</tr>
							<tr>
								<td>Ecosystème</td>
								<td>😐</td>
								<td>😃</td>
								<td>😐</td>
								<td>😐</td>
							</tr>
							<tr>
								<td>Popularité</td>
								<td>😐</td>
								<td>😐</td>
								<td>😃</td>
								<td>😟</td>
							</tr>
							<tr>
								<td>Performance</td>
								<td>😃</td>
								<td>😃</td>
								<td>😃</td>
								<td>😟</td>
							</tr>
							<tr>
								<td>Niveau requis</td>
								<td>😃</td>
								<td>😟</td>
								<td>😐</td>
								<td>😐</td>
							</tr>
						</table>
					</section>
				</section>
				<section>
					<section>
						<h2>VueJS</h2>
						<img src="img/logo-vue.png" alt="">
						<br>
						<a href="https://vuejs.org/guide/introduction.html" target="_blank">Vue.js</a>
					</section>
					<section>
						<h3>VueJS</h3>
						<ul>
							<li>Développer rapidement des interfaces utilisateurs</li>
							<li>Prise en main progressive : coeur simple mais bibliothèques et écosystème complets</li>
							<li>Principe de découpage en composants réutilisables et autonomes</li>
							<li>Très bonne documentation</li>
						</ul>
					</section>
					<section>
						<h3>VueJS</h3>
						<p>Créé en 2014 par Evan You</p>
						<p><strong>Open source</strong> : <a href="https://github.com/vuejs/vue" target="_blank">https://github.com/vuejs/vue</a></p>
						<p>Utilisé par Netflix, Adobe, Alibaba et Gitlab.</p>
					</section>
					<section>
						<p>Comparaison avec React :</p>
						<ul>
							<li>beaucoup de similitudes (dom, components)</li>
							<li>template JSX vs Mustache</li>
							<li>JSX + ES6 vs apprentissage rapide</li>
							<li>React Native (applications mobiles)</li>
						</ul>
						<img src="img/logo-react.png" alt="">
					</section>
					<section>
						<p>Comparaison avec Angular (Angular 2 et +) :</p>
						<ul>
							<li>VueJS inspiré d'Angular</li>
							<li>TypeScript</li>
							<li>complexité</li>
							<li>stricte vs flexibilité</li>
							<li>poids</li>
						</ul>
						<img src="img/logo-angular.png" alt="">
					</section>
					<section>
						<h3>Première page VueJS</h3>

						<p>Utilisation de VueJS en composant monofichier</p>
						<hr>
						3 parties dans chaque composant :
						<br>
						<ul>
							<li>template (HTML)</li>
							<li>script (logique)</li>
							<li>style (CSS)</li>
						</ul>
					</section>
					<section>
						<h4>VueJS en composant monofichier</h4>
						<pre><code>
		<template>
			< HTML />
		</template>
		<script>
			JavaScript;
		</script>
		<style>
			.CSS {}
		</style>
							</code></pre>
					</section>
					<section>
						<h4>Partie Template</h4>
						<pre class="html">
									<code>
		<template>
			<input type="text" v-model="etudiant.nom">
			<button @click="ajouter"></button>
			{{ etudiant.nom }}
		</template>
									</code>
								</pre>
					</section>
					<section>
						<h4>Partie Script</h4>
						<pre>
									<code>
		<script>
			import { reactive, ref } from 'vue';

			const etudiants = ref([]);
			const etudiant = reactive({ nom: 'John' });

			const ajouter = () => {
				etudiants.value.push(etudiant.nom);
			};
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h4>Partie Style</h4>
						S'applique uniquement sur le composant / la page
						<pre>
									<code>
		<style>
			div.figure {
				float: right;
				width: 30%;
			}
			.title {
				color: blue;
			}
		</style>
									</code>
								</pre>
					</section>
					<section>
						<h3>Binding 2-ways</h3>
						<p><strong>Lien</strong> entre template (affichage) et script (données).</p>
						<p>Si l'utilisateur modifie l'affichage, la donnée est modifiée.</p>
						<p>Si la donnée est modifiée, l'affichage se met à jour.</p>
					</section>
					<section>
						<h4>Binding 2-ways</h4>
						<p>Utilisation de Mustache</p>
						<pre><code>
		<div id="app">
			{{ message }}
		</div>
							</code></pre>
						<p>Utilisation de v-model</p>
						<pre><code>
		<div id="app">
			<input type="text" v-model="message">
		</div>
							</code></pre>
					</section>
					<section>
						<h3>Directives</h3>
						<p>Attributs spécifiques à VueJS</p>
						<p><strong>v-if</strong> permet d'afficher ou non un bloc selon l'état d'une variable</p>
						<pre>
									<code>
		<p v-if="loggedIn">Hello !</p>
		<p v-else>Please log in</p>
									</code>
								</pre>
					</section>
					<section>
						<h4>Directives</h4>
						<p><strong>v-for</strong> permet d'afficher une liste d'élements</p>
						<pre>
									<code>
		<ul>
			<li v-for="movie in movies" :key="movie.id">
				{{movie.name}} - {{movie.date}}
			</li>
		</ul>
									</code>
								</pre>
					</section>
					<section>
						<h3>Méthodes</h3>
						<p>Fonctions contenant la logique, permettant de manipuler les données</p>
						<pre class="javascript">
									<code>
		<script>
			import { ref } from 'vue';

			const nbEtudiants = ref(0);

			const incrementeEtudiants = () => {
				nbEtudiants.value++;
			};
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h3>Evènements</h3>
						<p>Actions ou interactions utilisateurs</p>
						<p>Le plus souvent, le but va être de connecter des évènements à des méthodes.</p>
						<p>Utilisation du mot-clé <strong>@</strong></p>
					</section>
					<section>
						<h4>Evènements</h4>
						<pre>
									<code>
		<template>
			<button @click="applaudir">Applaudir</button>
			<p>Vous avez reçu {{applaudissements}} applaudissements.</p>
		</template>

		<script>
			import { ref } from 'vue';

			const applaudissements = ref(0);
			const applaudir = () => {
				this.applaudissements.value++;
			};
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h3>Propriétés calculées</h3>
						<p>Pour les traitements de donnée lourds avant affichage</p>
						<p>L'idée est d'éviter de mettre ces traitements dans le template</p>
						<p>Utilisation du mot-clé <strong>computed</strong></p>
					</section>
					<section>
						<h4>Propriétés calculées</h4>
						<pre>
									<code>
		<script>
			import { computed, ref } from 'vue';

			const nbEtudiantsGroupe1 = ref(10);
			const nbEtudiantsGoupe2 = ref(20);

			const somme = computed(() =>
					nbEtudiantsGroupe1 + nbEtudiantsGoupe2
			);
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h3>Cycle de vie</h3>
						<p>Chaque composant/page a un cycle de vie (création, monté, détruit).</p>
						<p>Il est possible de "s'accrocher" à des moments du cycle pour effectuer des actions.</p>
						<pre>
									<code>
		<script>
		import { onMounted } from 'vue';

		onMounted(() => {
			console.log(`the component is now mounted.`);
		});
		</script>
									</code>
								</pre>
					</section>
				</section>

				<!--  Cours 4  -->
				<section>
					<section>
						<h2>Web Components</h2>
					</section>
					<section>
						Un Composant est un morceau de page web autonome et réutilisable
						<img src="img/template.jpg" alt="">
					</section>
					<section>
						<h3>Web Custom Components</h3>
						<p>Basé sur Custom Elements, Shadow DOM, Template, des normes HTML</p>
					</section>
					<section>
						<h3>VueJS Components</h3>
						<p>Similaire à Web Custom Components</p>
						<p>Permet de découper l'application en plusieurs pages et chaque page en plusieurs éléments</p>
					</section>
					<section>
						<h4>VueJS Components</h4>
						<p>Avec notre approche composant monofichier, chaque fichier .vue est un composant.</p>
						<p>Le fichier App.vue représente la page parente.</p>
					</section>
					<section>
						<h4>VueJS Components</h4>
						Exemple composant CharacterItem.vue :
						<pre>
									<code>
		<template>
			<h4>
				{{ character.name }}
			</h4>
			<p>
				Couleur des yeux : {{ character.eyeColor }}
			</p>

			<button @click="emit('deleteCharacter', character)">
				Supprimer
			</button>
		</template>

		<script>
			defineProps(['character']);
			const emit = defineEmits(['deleteCharacter']);
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h4>Data down, event up</h4>
						<p>Transférer des données à un composant fils se fait via des propriétés</p>
						<pre>
									<code>
		<template>
			<h4>
				{{ character.name }}
			</h4>
			<p>
				Couleur des yeux : {{ character.eyeColor }}
			</p>
		</template>

		<script>
			defineProps(['character']);
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h4>Data down, event up</h4>
						<p>Remonter des actions à un composant père se fait via des évènements</p>
						<pre>
									<code>
		<template>
			<button @click="emit('deleteCharacter', character)">
				Supprimer
			</button>
		</template>

		<script>
			const emit = defineEmits(['deleteCharacter']);
		</script>
									</code>
								</pre>
					</section>
					<section>
						<h4>VueJS Components</h4>
						Utilisation composant :
						<pre>
									<code>
		<template>
			<CharacterItem
					v-for="character in characters"
					:key="character.name"
					:character="character"
					@deleteCharacter="deleteCharacter"
			></CharacterItem>
		</template>

		<script>
			import { ref } from 'vue';
			import CharacterItem from './components/CharacterItem';

			const characters = ref([
				{ name: 'Toto', eyeColor: 'brown' },
				{ name: 'Toto', eyeColor: 'blue' },
			]);

			const deleteCharacter = (character) => {};
		</script>
									</code>
								</pre>
					</section>
				</section>
				<section>
					<section>
						<h2>VueJSRouter</h2>
					</section>
					<section>
						<h3>Router / Routage ?</h3>
						<p>Dans un site web classique, chaque page a une URL différente :</p>
						<ul>
							<li>https://amazon.fr/panier</li>
							<li>https://amazon.fr/paiment</li>
							<li>https://amazon.fr/article-27</li>
						</ul>
					</section>
					<section>
						<h3>Router / Routage ?</h3>
						<p>Dans un site SPA, tout est sur la première page. Se posent les problèmes suivants :</p>
						<ul>
							<li>SEO (moteurs de recherche)</li>
							<li>Historique</li>
							<li>Partage de liens</li>
						</ul>
					</section>
					<section>
						<h3>Router / Routage ?</h3>
						<p>La solution est le router qui va faire le lien entre l'url et les pages.</p>
						<img src="img/vue-router.png" alt="">
					</section>
					<section>
						<h3>vue-router</h3>
						<p>La librairie proposée avec VueJS pour gérer les routes.</p>
						<a href="https://router.vuejs.org" target="_blank">https://router.vuejs.org</a>
						<br>
						<a href="https://github.com/vuejs/router" target="_blank">https://github.com/vuejs/router</a>
					</section>
					<section>
						<h3>vue-router</h3>
						<p>Trois étapes :</p>
						<ul>
							<li>Définition des routes</li>
							<li>Utilisation des routes dans les templates</li>
							<li>Utilisation des routes dans la logique</li>
						</ul>
					</section>
					<section>
						<h3>vue-router</h3>
						<p>Définition des routes : attacher des URLs à des composants</p>
						<pre>
									<code>
		routes: [
			{ path: '/', name: 'Home', component: Home },
			{ path: '/race', name: 'Race', component: Race },
			{ path: '/login', name: 'Login', component: Login }
		]
									</code>
								</pre>
					</section>
					<section>
						<h3>vue-router</h3>
						<p>Utilisation des routes dans les templates</p>
						<pre>
									<code>
		<router-link to="/login">Se connecter</router-link>
		<router-link to="/race">Course</router-link>
									</code>
								</pre>
					</section>
					<section>
						<h3>vue-router</h3>
						<p>Utilisation des routes dans la logique</p>
						<pre><code>
		// chaine de caractère représentant un chemin
		router.push('/login');

		// route nommée
		router.push({ name: 'Race' });
							</code></pre>
					</section>
					<section>
						<h3>vue-router</h3>
						<p>Routes dynamiques</p>
						<pre>
									<code>
		routes: [
			{ path: '/utilisateur/:id', component: User, name: 'user' }
		]

		router.push({ name: 'user', params: { id: 123 } })
									</code>
								</pre>
					</section>
					<section>
						<h3>vue-router</h3>
						<ul>
							<li>Chaque route est liée à un composant (une page)</li>
							<li>Chaque page peut contenir plusieurs composants</li>
							<li>Lorsque l'utilisateur clique sur un lien de navigation, vue-router modifie la page pour afficher le nouveau composant</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2>VueX</h2>
					</section>
					<section>
						<h3>VueX</h3>
						<p>
							VueX est un gestionnaire d'état<br>
							<a href="https://vuex.vuejs.org/" target="_blank">https://vuex.vuejs.org/</a>
						</p>
					</section>
					<section>
						<h3>VueX</h3>
						<p>
							Sans gestionnaire d'état, toute donnée modifiée dans un composant est difficile à partager au sein de toute l'application.
						</p>
					</section>
					<section>
						<h3>VueX</h3>
						<img src="img/state-without-vuex.png" alt="">
					</section>
					<section>
						<h3>VueX</h3>
						<p>
							Avec VueX, il est possible de gérer un "store" (modèle de stockage) contenant des données/états.
						</p>
					</section>
					<section>
						<h3>VueX</h3>
						<img src="img/vuex.png" alt="">
					</section>
					<section>
						<h3>VueX</h3>
						<p>Exemples de besoins :</p>
						<ul>
							<li>stocker l'état connecté/déconnecté d'un utilisateur</li>
							<li>stocker le panier d'un client</li>
							<li>stocker préférences utilisateur</li>
							<li>alléger les appels backend</li>
						</ul>
					</section>
					<section>
						<h3>VueX</h3>
						<img src="img/vuex-component.png" alt="">
					</section>
					<section>
						<h3>VueX - State</h3>
						<p>L'état "state" est la liste des données à sauvegarder</p>
						<p>Equivalent à <strong>data</strong> dans un composant</p>
						<pre>
									<code>
		state: {
			count: 0
		},
									</code>
								</pre>
					</section>
					<section>
						<h3>VueX - Mutations</h3>
						<p>Les mutations modifient les états</p>
						<pre>
									<code>
		mutations: {
			INCREMENT: function(state) {
				state.count++;
			},
			DECREMENT: function(state) {
				state.count--;
			}
		},
									</code>
								</pre>
					</section>
					<section>
						<h3>VueX - Actions</h3>
						<p>Les actions gèrent la logique et commitent des changements d'état</p>
						<p>Equivalent aux <strong>méthodes</strong> dans un composant</p>
						<p>Des appels backend peuvent être effectués ici</p>
						<pre>
									<code>
		actions: {
			incrementAction: function(context) {
				console.log('Action d\'incrémentation');
				context.commit("INCREMENT");
			},
			decrementAction: function(context) {
				console.log('Action de décrémentation');
				context.commit("DECREMENT");
			}
		},
									</code>
								</pre>
					</section>
					<section>
						<h3>VueX - Actions</h3>
						<p>Les actions sont appelées depuis un composant via <strong>dispatch</strong></p>
						<pre>
									<code>
		store.dispatch("incrementAction");
									</code>
								</pre>
					</section>
					<section>
						<h3>VueX - Getters</h3>
						<p>Les getters permettent d'accéder en lecture aux états du store</p>
						<pre>
									<code>
		getters: {
			count: function(state) {
				return state.count;
			}
		}
									</code>
								</pre>
						<pre>
									<code>
		store.getters.count;
									</code>
								</pre>
					</section>
					<section>
						<h3>VueX</h3>
						<img src="img/vuex-example.png" alt="">
					</section>
				</section>
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			Reveal.initialize({
				hash: true,
				plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
			});
		</script>
	</body>
</html>
